<style>
    .large-screen-building {
        width: 100%;
        max-width: 140px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .large-screens-first-para-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    @media only screen and (min-width: 717px) {
        .large-screen-building {
            width: 100%;
            max-width: 140px;
        }

        .large-screens-first-para-container {
            display: block;
            justify-content: space-between;
            width: 100%;
        }
    }
</style>
<div class='large-screens-first-para-container'>

    <div style="flex:1">
        <p style="margin-bottom: 14pt; font-size: 17pt;">
            <span style="font-family: 'Segoe UI'; color: #212529;">
                Welcome to Bijouterie et Joyaux International
                Inc, a family-owned business and a quality
                provider of natural gems, specifically Precious
                & Semi Precious Stones. Driven by an
                unequalled and genuine passion for
                Sapphires, specialized knowledge has been
                passed from father to son for four generations.</span>
        </p>
    </div>
    <div>
        <img class="large-screen-building"
            src="http://emeralditsolutions.com/bijouterie-backend/public/biji2/assets/j0hpm2sx5u04ksoo" alt="" />
    </div>

</div>


<p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
    <span style="font-family: 'Segoe UI'; color: #212529;">
        Our age old establishment having been originally founded by
        our great grand father Mohamed Ibrahim in the year 1910 in
        Sri Lanka and handed over to his son Mohamed Saleem ( our
        grandfather ) in 1945.
    </span>
</p>
<div>
    <img style="width:25%" src="https://emeralditsolutions.com/bijouterie-backend/public/biji2/assets/przbx04yybk44o4o"
        alt="" />
</div>
<p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
    <span style="font-family: 'Segoe UI'; color: #212529;">
        and there upon had been continued from 1980 by our father,
        Mohamed Nuhman, Who has been certificated as well
        qualified in the science of Gemology by the university of
        Moratuwa, Sri Lanka, in March 2002;&nbsp;
    </span>
</p>
<div>
    <img style="width:25%" src="https://emeralditsolutions.com/bijouterie-backend/public/biji2/assets/qj6qosti7400cwcc"
        alt="" />
</div>
<p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
    <span style=" font-family: 'Segoe UI' ; color: #212529;">
        And from there the reins of the trade having been handed
        over by our father, Mohamed Nuhman to us, We two brothers,
        Mohamed Fazeen and Mohamed Farhan in the year 2010
        and named it as BIJOUTERIE ET JOYAUX INTERNATIONAL
        INC in Montreal, Canada and SERENDIB GEM BUREAU in
        Sri Lanka.
    </span>
</p>

<div style="display:flex; justify-content: space-between; width: 100%">
    <img style="width: 25%" src="https://emeralditsolutions.com/bijouterie-backend/public/biji2/assets/4rxjzczmo2044gsg"
        alt="" />
    <img style="width: 25%" src="https://emeralditsolutions.com/bijouterie-backend/public/biji2/assets/napblf7c3usk40s4"
        alt="" />
</div>

<p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
    <span style="font-family: 'Segoe UI'; color: #212529;">
        And thus our trade has withstood the test of time spanning a
        period of over a century and more, continuing uninterruptedly
        with ever increasing experience and expertise.
    </span>
    <p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
        <span style="font-family: Calibri;">
            Sri Lanka, a picturesque island in the Indian Ocean south of
            India, is the oldest source of sapphires in the World. This
            country, also known as Ratna-Dweepa (Island of precious
            stones), is the source of 200 minerals that have been
            classified as precious stones. Their beauty, durability and
            rarity combined, make these sophisticated gems in high
            demand throughout the world. Writings of several traders,
            dating all the way back to the fourth century attest that they
            crossed the Indian Ocean to obtain these gems. Even Marco
            Polo wrote that Sri Lanka Is the source of the most beautiful
            sapphires in the world.
        </span>
    </p>
    </span>
    <p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
        <span style="font-family: Calibri;">
            All gemstones in Sri Lanka were formed during pre Cambrian
            geological age.Therefore, any gem you select is over 800
            million years old.
        </span>
    </p>
    </span>
    <p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
        <span style="font-family: Calibri;">
            Gems have been first recorded in the historical tradition of the
            island around 500BC. Therefore, Sri Lanka&#39;s gem mining
            industry is one of the oldest of its kind in the world.
            Sri Lanka gems cover the full range of the colours of the
            spectrum. Hence you could find a gemstone to suit any
            mood,any time of the day or season of the year.
            The Blue Sapphire is Sri Lanka&#39;s Gem Supreme. Sri Lanka&#39;s
            Blue Sapphires are the finest in the world. Sapphires of the
            finest quality have what is called by the experts a corn flower
            blue or royal blue tint.
        </span>
    </p>
    </span>
    <p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
        <span style="font-family: Calibri;">
            As Sri Lankans, who are proud of their heritage, and who
            have grown up in this trade and know it inside out, we can
            offer our customers excellent quality gems at the best prices
            because we buy our gems directly at the source. We embrace
            our responsibility to be in accordance with ethical and
            humanitarian principles as this business is built by our family.
            Our goal being to satisfy our customers and professionals, we
            unearth only the most unique gems, and of the highest
            quality. Our criteria Is guided by the purity of the gems,
            therefore, it is with the greatest scrutiny that our sapphires are
            selected. The sapphires are most often characterized by their
            deep shining colors and their prices are determined by the 4
            Cs (color, cut, clarity and carat).
        </span>
    </p>
    </span>
    <p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
        <span style="font-family: Calibri;">
            Gemstones being an exhaustible, and non-renewable
            resource, their worth increases year after year ensuring that
            investing in gems is a smart investment!
        </span>
    </p>
    <p style="margin-bottom: 14pt; font-size: 17pt; display: inline-block">
        <span style="font-family: Calibri;"> We’d love to meet you in person! Please contact us to
            schedule an appointment and our proficient team members
            will gladly present you with our outstanding collection of all
            natural gems each of which are delivered with their certificate
            of authenticity.
        </span>
    </p>